@model ExamenParcial2_Progra3.Models.Tarea

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tarea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="FechaLimite" class="control-label">Fecha Limite</label>
                <input asp-for="FechaLimite" class="form-control" />
                <span asp-validation-for="FechaLimite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DificultadId" class="control-label">Dificultad</label>
                <select asp-for="DificultadId" class="form-control" asp-items="ViewBag.DificultadId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TiempoEstimadoHoras" class="control-label">Tiempo Estimado Horas</label>
                <input asp-for="TiempoEstimadoHoras" class="form-control" />
                <span asp-validation-for="TiempoEstimadoHoras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoTareaId" class="control-label">Estado Tarea</label>
                <select asp-for="EstadoTareaId" class ="form-control" asp-items="ViewBag.EstadoTareaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MetaId" class="control-label">Meta</label>
                <select asp-for="MetaId" class ="form-control" asp-items="ViewBag.MetaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
